<!DOCTYPE html>
<html>

<%- include('../layouts/head'); %>

    <body>
        <div class="wrapper">

            <%- include('../layouts/main-header'); %>
                <%- include('../layouts/sidebar'); %>
                    <div class="main-panel">
                        <%- include('../components/components'); %>
                            <%- include('../layouts/footer'); %>

                    </div>
        </div>
        </div>
        <!-- Modal -->
        <%- include('../components/modal'); %>

    </body>
    <%- include('../layouts/script/main'); %>

</html>